* {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans';
}

.bodyMain {
    display: flex;
    padding-bottom: 2vh;
}

.bodyContainer {
    display: flex;
    flex-direction: column;
}

.posterCotainer {
    display: flex;
    align-items: center;
    gap: 1.5vw;
}

.heading {
    font-family: 'DM Sans';
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5vh;
}

.heading h3 {
    margin-top: 7vh;
    font-weight: 500;
    font-size: 3.1rem;
    line-height: 135.2%;
    color: #000000;
}

.heading p {
    font-size: 1.2rem;
    line-height: 148.2%;
    color: #6A6A6A;
}

/* Main Container */
.mainContainer {
    display: flex;
    justify-content: space-between;
    padding: 3.5vw;
}

/* Project Container */
.projectsContainer {
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

/* Top Bar */
.projectsTopBar {
    width: 70vw;
    height: 7.75vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid rgba(54, 65, 106, 0.35);
    border-radius: 8px;
    padding: 1vh 1.75vw;
}

.projectsTopBarLeft {
    gap: 2.5vw;
}

.projectsTopBarLeft h5 {
    font-weight: 700;
    font-size: 1rem;
}

.projectsTopBarLeft,
.sortDiv {
    display: flex;
}

.sortDiv p {
    color: #8B8B8B;
    margin-right: .5vw;
}

.sortDiv select {
    border: none;
    font-weight: 700;
    font-size: 1rem;
}

.sortDiv select option {
    font-weight: 700;
    font-size: 1rem;
}

.projectsTopBarRight button {
    cursor: pointer;
    padding: 1vh 1.5vw;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
    border: none;
    background: #36416A;
    border-radius: 7px;
}

/* Cards Container */
.productsBoxContainer {
    width: 70vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.productLoading {
    width: 100%;
    height: 7.8rem;
    background: linear-gradient(90deg, #243D6A26 0%, #ecf0f3 50%, #243D6A26 100%);
    background-size: 200% 100%;
    animation: gradientAnimation 2s linear infinite;
    border-radius: 4px;
    padding: 1.5vh 1.75vw;
}

@keyframes gradientAnimation {
    0% {
        background-position: -200% 0;
    }

    100% {
        background-position: 200% 0;
    }
}

@media only screen and (max-width: 850px) {

    .posterCotainer {
        flex-wrap: wrap;
        gap: 0;
    }

    .posterCotainer img {
        width: 100%;
        height: auto;
    }

    .heading {
        gap: 2vh;
        padding: 0 3.5vw;
    }

    .heading h3 {
        font-size: 1.5rem;
        margin-top: 0;
    }

    .heading p {
        line-height: 140%;
    }

    /* main start here */
    .mainContainer {
        flex-wrap: wrap;
        padding: 0;
    }

    /* Projects Container */
    .projectsContainer {
        padding: 0 3.5vw;
    }

    /* Top Bar Stert here*/
    .projectsTopBar {
        width: 100%;
        padding: 1vw;
    }

    .projectsTopBarLeft {
        gap: 4vw;
        display: flex;
        justify-content: space-between;
    }

    .projectsTopBarLeft h5 {
        font-size: .9rem;
    }

    .sortDiv select {
        width: 20px;
    }

    .projectsTopBarRight button {
        padding: 1vh 1.5vw;
    }

    /* Boxes Container */
    .productsBoxContainer {
        width: 100%;
        gap: 1.5vh;
    }

}