* {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans';
}

.bodyMain {
    display: flex;
    padding-bottom: 2vh;
}

.bodyContainer {
    display: flex;
    flex-direction: column;
}

.posterCotainer {
    display: flex;
    align-items: center;
    gap: 1.5vw;
}

.heading {
    /* width: 50%;
    height: 50%; */
    font-family: 'DM Sans';
    font-style: normal;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    gap: 1.5vh;
}

.heading h3 {
    margin-top: 7vh;
    font-weight: 500;
    font-size: 3.1rem;
    line-height: 135.2%;
    color: #000000;
}

.heading p {
    font-size: 1.2rem;
    line-height: 148.2%;
    color: #6A6A6A;
}

/* Main Container */
.mainContainer {
    display: flex;
    justify-content: space-between;
    padding: 3.5vw;
}

/* Project Container */
.projectsContainer {
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

/* Top Bar */
.projectsTopBar {
    width: 70vw;
    height: 7.75vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid rgba(54, 65, 106, 0.35);
    border-radius: 8px;
    padding: 1vh 1.75vw;
}

.projectsTopBarLeft {
    gap: 2.5vw;
}

.projectsTopBarLeft h5 {
    font-weight: 700;
    font-size: 1rem;
}

.projectsTopBarLeft,
.sortDiv {
    display: flex;
}

.sortDiv p {
    color: #8B8B8B;
    margin-right: .5vw;
}

.sortDiv select {
    border: none;
    font-weight: 700;
    font-size: 1rem;
}

.sortDiv select option {
    font-weight: 700;
    font-size: 1rem;
}

.projectsTopBarRight button {
    cursor: pointer;
    width: 10vw;
    /* width: 10vw; */
    height: 5vh;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
    border: none;
    background: #36416A;
    border-radius: 7px;
}

/* boxes Container */
.productsBoxContainer {
    width: 70vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

/* Box 1 */
.projectsBox {
    display: flex;
    flex-direction: column;
    gap: 3.5vh;
    background: rgba(54, 65, 106, 0.15);
    border-radius: 4px;
    padding: 1.5vh 1.75vw;
}

.projectBoxUp {
    display: flex;
    justify-content: space-between;
}

.projectDetailsBoxLeft {
    display: flex;
    gap: 1.5vw;
}

.projectLogo {
    height: 100%;
}

.jobDetailsInfo {
    display: flex;
    flex-direction: column;
    gap: 1.1vh;
}

.jobDetailsInfo h5 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #36416A;
}

.typeDetails {
    display: flex;
    gap: 1.5vw;
}

.projectType {
    display: flex;
    gap: 1vw;
}

.projectType p {
    min-width: 5.65vw;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #C0CEFF;
    border-radius: 20.9396px;
}

.projectComments {
    color: #ABABAB;
    display: flex;
    font-size: 1.1rem;
    font-weight: 500;
    gap: .5vw;
    align-items: center;
    cursor: pointer;
}

/*Product Box Right Side */
.projectDetailsBoxRight {
    display: flex;
    gap: 2vw;
}

.projectEditButtonDiv {
    /* width: 100%; */
    display: flex;
    /* align-items: flex-end; */

}

.projectEditButtonDiv button {
    width: 7vw;
    height: 4.5vh;
    font-size: 1.2rem;
    font-weight: 500;
    border: none;
    color: #fff;
    background: #36416A;
    border-radius: 29px;
    cursor: pointer;
}

.projectTagsDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.projectTagsDiv p {
    font-weight: 500;
}

.upVoteCountTag {
    width: 3vw;
    height: 7.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5vh;
    background: #C7CBD6;
    border-radius: 15.9836px;
    cursor: pointer;
}

.commentCountTag {
    display: flex;
    align-items: center;
    gap: .5vw;
}

@media only screen and (max-width: 850px) {

    .posterCotainer {
        flex-wrap: wrap;
        gap: 0;
    }

    .posterCotainer img {
        width: 100%;
        height: auto;
    }

    .heading {
        /* margin: auto 5vw; */
        gap: 2vh;
        padding: 0 3.5vw;
    }

    .heading h3 {
        font-size: 1.5rem;
        margin-top: 0;
    }

    .heading p {
        line-height: 140%;
    }

    /* main start here */
    .mainContainer {
        flex-wrap: wrap;
        padding: 0;
    }

    /* Projects Container */
    .projectsContainer {
        padding: 0 3.5vw;
    }

    /* Top Bar Stert here*/
    .projectsTopBar {
        width: 100%;
        padding: 1vw;
        /* display: flex;
        justify-content: space-between; */
    }

    .projectsTopBarLeft {
        width: 50%;
        gap: 0;
        display: flex;
        justify-content: space-between;
    }

    .projectsTopBarLeft h5 {
        font-size: .9rem;
    }

    .sortDiv select {
        display: none;
    }

    .projectsTopBarRight {
        width: 35%;
    }
    .projectsTopBarRight button{
        width: 100%;
    }
    /* Boxes Container */
    .productsBoxContainer {
        width: 100%;
        gap: 1.5vh;
    }

    /* Single Box */
    .projectsBox {
        padding: 1.5vh 1.6vw;
    }

    .projectLogo img {
        width: 14.5vw;
        margin-top: .5vh;
    }
    .jobDetailsInfo{
        justify-content: space-evenly;
    }

    .jobDetails p {
        font-weight: 400;
        line-height: 120%;
    }

    .typeDetails {
        gap: 3.5vw;
    }

    /* Type Tags */
    .projectType p {
        width: 100%;
        height: 100%;
        padding: 0 1.3vw;
        font-size: .9em;
    }

    .projectComments p {
        display: none;
    }

    .projectEditButtonDiv button {
        width: 15vw;
        font-size: 1em;
    }
    .projectTagsDiv {
        justify-content: space-between;
    }
    .upVoteCountTag {
        width: 100%;
        padding: 0 1.5vw;
    }

    .commentCountTag {
        gap: 1vw;
    }
    .commentCountTag p{
        font-size: 1.05rem;
    }
}